.search-bar {
  margin-bottom: 15px;
  input {
    margin-right: 10px;
    padding: 5px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
  }
}

.edit {
  background-color: yellow;
}
.delete {
  background-color: red;
  color: white;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
