<div class="container mt-4">
  <div class="card p-4">
    <h2 class="mb-3">Employee Details</h2>
    <p><strong>Username:</strong> {{ employee?.username }}</p>
    <p>
      <strong>Full Name:</strong> {{ employee?.firstName }}
      {{ employee?.lastName }}
    </p>
    <p><strong>Email:</strong> {{ employee?.email }}</p>
    <p>
      <strong>Birth Date:</strong>
      {{ employee?.birthDate | date : "dd MMMM yyyy" }}
    </p>
    <p>
      <strong>Basic Salary:</strong> Rp
      {{ employee?.basicSalary | number : "1.0-0" }}
    </p>
    <p><strong>Status:</strong> {{ employee?.status }}</p>
    <p><strong>Group:</strong> {{ employee?.group }}</p>
    <p><strong>Description:</strong> {{ employee?.description }}</p>

    <button class="btn btn-primary mt-3" (click)="backToList()">OK</button>
  </div>
</div>
